// GLOBAL STYLES START
@import 'mixins';

html,
body {
  font-family: "Inter", sans-serif;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  max-width: 1160px;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
}


.btn {
  @include text-style (400, 18px, normal, #fff);
  text-align: center;
  background: linear-gradient(90deg, #a88453 0%, #d8c197 100%);
  border-radius: 5px;
  padding: 14px 80px;
}

// GLOBAL STYLES END
// HEADER START

.header {
  background-image: url("../images/main-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 81px;
  height: 500px;
}

.header__content {}

.header__content-inner {
  padding-top: 67px;
}

.header__content-list {}

.header__content-title {
  @include text-style (700, 40px, normal, #f0f2f5);
  max-width: 544px;

}

.header__content-subtitle {
  @include text-style (400, 18px, normal, #f0f2f5);
  max-width: 544px;

  margin: 40px 0px;
}

.header__btn-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__content-btn {}

.header__arrow-box {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.header__btn-left {
  margin-right: 10px;
}

.header__btn-right {}

// HEADER END

//MAIN START
.main {
  margin-top: 100px;
}

//NUMBERS START
.numbers {}

.numbers__inner {}

.numbers__heading-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.numbers__heading {
  max-width: 458px;
}

.numbers__title {
  @include text-style (700, 30px, normal, #1a2042);

}

.numbers__text {
  @include text-style (400, 18px, normal, #1a2042);

}

.numbers__circles-list {
  display: flex;
  align-items: center;
}

.numbers__list-item {
  background: #f0f2f5;
  border-radius: 200px;
  width: 191px;
  height: 185px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 52px 31px;

  &:nth-child(2) {
    background: linear-gradient(90deg, #a88453 0%, #d8c197 100%);
    padding: 52px;
    margin: 0 -15px;
  }
}

.numbers__cirles-title {
  @include text-style (700, 50px, normal, #fff);
  background: linear-gradient(90deg, #a88453 0%, #d8c197 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.numbers__cirles-text {
  @include text-style (400, 16px, 125%, #1a2042);
  margin-top: -5px;
}

.numbers__cirles-title--white {
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: currentColor;
}

.numbers__cirles-text--white {
  color: rgba(255, 255, 255, 0.85);
}

.numbers__content {
  margin-top: 100px;
  margin-bottom: 255px;
}

.numbers__content-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.numbers__content-item {
  display: flex;
  align-items: center;
  max-width: 290px
}

.numbers__item-icon {
  margin-right: 20px;
}

.numbers__content-text {
  @include text-style (400, 16px, normal, #1a2042);

  & span {
    font-weight: 700;
    font-size: 20px;
  }
}

//NUMBERS END
//MAIN END